:root{
    /*--cor-principal: brown;
    --cor-secundaria: cadetblue;*/
    --cor-principal: rgb(104, 104, 104);
    --cor-secundaria: rgb(255, 255, 255);
    --cor-fundo: rgb(0, 0, 0);
}

*{
    margin: 0;
    scroll-behavior: smooth;
    
}

body{
    scroll-behavior: smooth;
    font-family: "Saira", sans-serif;
    background-color: var(--cor-fundo);
}


.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-principal);
    height: 40px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: "Caesar Dressing", system-ui;
    padding-right: 20px;
    position: fixed;
    width: 100%;
}

.cabecalho a {
    color: white;
    text-decoration: none;
    font-family: "Caesar Dressing", system-ui;
    margin-right: 30px;
}
.cabecalho a:hover{
    color: gray;
}

main h1{
    text-align: center;
    font-family: "Caesar Dressing", system-ui;
    color: var(--cor-secundaria);
}

.sobre{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-secundaria);
}

.sobreMim{
    margin-top: 150px;
    margin-left: 150px;
    margin-bottom: 150px;
    width: 300px;
}

.imagemPerfil{
    height: 300px;
    width: 300px;
    margin-top: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
    border-radius: 50%;
}

.projetos{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: var(--cor-secundaria);
}

.projetos a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}



.projetoImagem{
    width: 300px;
    padding-left: 50px;
    padding-right: 50px;
}


.rodape{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: var(--cor-secundaria);
    padding-left: 100px;
    padding-right: 100px;
}

.imagemRodape{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.imagemRodape img{
    height: 100px;
    margin:20px;
}

.formulario{
    flex-direction: column;
    justify-content: center;
}

input{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20px;
    width: 300px;
    background-color: rgb(221, 221, 221);
    border: none;
    color: black;
    outline: none;
}

textarea{
    width: 300px;
    background-color: rgb(221, 221, 221);
    border: none;
    color: black;
    outline: none;
}

button{
    height: 30px;
    width: 125px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: gray;
}

footer{
    background-color: var(--cor-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}