*{
    margin: 0;
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: brown;
    height: 40px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.cabecalho a {
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
.cabecalho a:hover{
    color: gray;
}

main h1{
    text-align: center;
}

.sobre{
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
}

.sobreMim{
    margin-top: 150px;
    margin-left: 150px;
    margin-bottom: 150px;
    width: 300px;
}

.imagemPerfil{
    height: 300px;
    width: 300px;
    margin-top: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
    border-radius: 50%;
}

.projetos{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: cadetblue;
}

.projetos a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}



.projetoImage{
    width: 300px;
}

footer{
    background-color: brown;
    text-align: center;
}

.rodape{
    display: flex;
    justify-content: space-between;
}